<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital </title>
    <link rel="stylesheet" href="/static/css/contacto.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/regular.css" integrity="sha384-e7wK18mMVsIpE/BDLrCQ99c7gROAxr9czDzslePcAHgCLGCRidxq1mrNCLVF2oaj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/brands.css" integrity="sha384-S5yUroXKhsCryF2hYGm7i8RQ/ThL96qmmWD+lF5AZTdOdsxChQktVW+cKP/s4eav" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head> 
<body>

    <h1 class="hospital"><span class="head-icon"><i class="fas fa-hospital"></i></span> Hospital Camino Bosque de María</h1>
    

    <div class="form-container">
        

        <div class="container">

            <div>
                <h2 class="heading-title">Ante cualquier duda, ¡Contáctanos!</h2>
        
                <img class="contact-img" src="/static/imagenes/contact.png" alt="">
                <p class="slogan">Estamos a tu servicio, tu salud es nuestro propósito y prioridad, por eso habilitamos para ti múltiples vías de comunicación.</p>
                
            </div>

            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <h2>Envía tus datos</h2>
                    <input type="text" class="field" placeholder="Tu nombre">
                    <input type="email" class="field" placeholder="Tu correo">
                    <input type="number" class="field" placeholder="Tu telefono">
                    <textarea placeholder="Tu mensaje" class="field"></textarea>
                    <button class="btn">Enviar</button>
                </div>
            </div>
        </div>

        <div class="rrss">
            <a href="https://www.twitter.com"><i class="icons fab fa-twitter"></i></i></a>
            <a href="https://www.facebook.com"><i class="icons fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com"><i class=" icons fab fa-instagram"></i></a>
            
        </div>
        
    </div>
</body>
</html>