<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camino Bosque de Maria</title>
</head>

<body>
    <SCRIPT  language=JavaScript> 
        function go(){
        
        if (document.form.password.value=='CONTRASEÑA' && document.form.login.value=='USUARIO'){ 
                document.form.submit(); 
            } 
            else{ 
                 alert("Porfavor ingrese, nombre de usuario y contraseña correctos."); 
            } 
        } 
        </SCRIPT> 
        <FORM name=form action="TU_PAGINA_WEB.HTML">
        
        <P>Usuario:    <INPUT type=text name=login> 
        <P>Contraseña: <INPUT type=password name=password> 
        <INPUT onclick=go() type=button value=Acceder>
</body>
</html>